<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.circle.Mapper.UserMapper">
    <select id="getUserByName" resultType="com.example.circle.Entity.User">
        SELECT
            id,
            login_name AS 'loginName',
            pass_word AS 'passWord'
        FROM
            ums_user
        WHERE
            login_name = #{name}
    </select>
</mapper>